
$utilities: (
    "custom-margin": (
        property: margin-bottom,
        class: mb,
        values: (
            0: 0,
            1: 1rem,
            2: 2rem,
            3: 3rem,
        )
    )
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
